<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <app-grafico-dona [labelChart]='graficos.grafico1.labels' [dataChart]='graficos.grafico1.data' [typeChart]='graficos.grafico1.type' [leyendaChart]='graficos.grafico1.leyenda'></app-grafico-dona>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <app-grafico-dona [labelChart]='graficos.grafico2.labels' [dataChart]='graficos.grafico2.data' [typeChart]='graficos.grafico2.type' [leyendaChart]='graficos.grafico2.leyenda'></app-grafico-dona>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <app-grafico-dona [labelChart]='graficos.grafico3.labels' [dataChart]='graficos.grafico3.data' [typeChart]='graficos.grafico3.type' [leyendaChart]='graficos.grafico3.leyenda'></app-grafico-dona>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <app-grafico-dona [labelChart]='graficos.grafico4.labels' [dataChart]='graficos.grafico4.data' [typeChart]='graficos.grafico4.type' [leyendaChart]='graficos.grafico4.leyenda'></app-grafico-dona>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
